<div>
  <h2 id="page-heading" data-cy="ParkingClientHeading">
    <span jhiTranslate="apparkingApp.parkingClient.home.title">Parking Clients</span>

    <div class="d-flex justify-content-start mt-2">
      <div style="margin-right: 1%">
        <form class="form-inline my-2 my-lg-0 mr-3">
          <input
            type="search"
            (ngModelChange)="searchClient(key.value)"
            #key="ngModel"
            ngModel
            name="key"
            id="searchName"
            class="form-control mr-sm-2"
            placeholder="Znajdź użytkownika..."
          />
        </form>
      </div>

      <button class="btn btn-info me-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="apparkingApp.parkingClient.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-parking-client"
        [routerLink]="['/parking-client/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="apparkingApp.parkingClient.home.createLabel"> Create a new Parking Client </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="parkingClients?.length === 0">
    <span jhiTranslate="apparkingApp.parkingClient.home.notFound">No parkingClients found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="parkingClients && parkingClients.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id">
            <span jhiTranslate="global.field.id">ID</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="firstName">
            <span jhiTranslate="apparkingApp.parkingClient.firstName">First Name</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastName">
            <span jhiTranslate="apparkingApp.parkingClient.lastName">Last Name</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="phoneNumber">
            <span jhiTranslate="apparkingApp.parkingClient.phoneNumber">Phone Number</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="licensePlateNumbers">
            <span jhiTranslate="apparkingApp.parkingClient.licensePlateNumbers">License Plate Numbers</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let parkingClient of parkingClients; trackBy: trackId" data-cy="entityTable">
          <td>{{ parkingClient.id }}</td>
          <td>{{ parkingClient.firstName }}</td>
          <td>{{ parkingClient.lastName }}</td>
          <td>{{ parkingClient.phoneNumber }}</td>
          <td>{{ parkingClient.licensePlateNumbers }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/parking-client', parkingClient.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(parkingClient)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
