<div>
  <h2 id="page-heading" data-cy="ManualControlDeviceHeading">
    <span jhiTranslate="apparkingApp.manualControlDevice.home.title">Manual Control Devices</span>

    <div class="d-flex justify-content-start mt-2">
      <button class="btn btn-info me-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="apparkingApp.manualControlDevice.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-manual-control-device"
        [routerLink]="['/manual-control-device/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="apparkingApp.manualControlDevice.home.createLabel"> Create a new Manual Control Device </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="manualControlDevices?.length === 0">
    <span jhiTranslate="apparkingApp.manualControlDevice.home.notFound">No manualControlDevices found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="manualControlDevices && manualControlDevices.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id">
            <span jhiTranslate="global.field.id">ID</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="device">
            <span jhiTranslate="apparkingApp.manualControlDevice.device">Device</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="state">
            <span jhiTranslate="apparkingApp.manualControlDevice.state">State</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let manualControlDevice of manualControlDevices; trackBy: trackId" data-cy="entityTable">
          <td>{{ manualControlDevice.id }}</td>
          <td>{{ manualControlDevice.device }}</td>
          <td>
            <button
              type="button"
              class="btn btn-sm btn-danger"
              (click)="setActive(manualControlDevice, true)"
              *ngIf="!manualControlDevice.state"
            >
              Stan 0
            </button>
            <button
              type="button"
              class="btn btn-sm btn-success"
              (click)="setActive(manualControlDevice, false)"
              *ngIf="manualControlDevice.state"
            >
              Stan 1
            </button>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/manual-control-device', manualControlDevice.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(manualControlDevice)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
